/* Initializing all box sizing */
*{box-sizing: border-box;padding: 0px;margin: 0px;}

/* Body color and font size */
body{background:#ADD8E6;font-size: 30px;}

#initialPage{margin-top: 200px;}

/* Top heading */
#header{margin-top: 6px;background-color: #341f97;}

/* Contents inside top heading */
#appTitle, #currentDay{
  font-family: 'Patua One', cursive,sans-serif;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 2.5rem;
  color: red;
}

/* marging for quiz and youtube video */
.Panel,.flex-video{margin-top: 20px;}

/* Designing of quiz questions */
  legend{
    text-align: center;
    color: red;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 40px;
    text-shadow: 1px 1px 0 red, 
    2px 2px 0 black;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  /* Animation of quiz questions */
  @keyframes animate {
    0% { background-position: -500%;}100% {background-position: 500%;}}
    
/* Design of placeholder for quiz question and answer */
#content {
    margin: 0 auto;
    background: #fff;
    /* for demo */
    -moz-box-shadow: 0 1px 5px #ccc;
    -webkit-box-shadow: 0 1px 5px #ccc;
    box-shadow: 0 1px 5px #ccc;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    z-index: 0;
  }


/* Start of Quiz Options */
  .option {
  font-family: 'Francois',cursive, Arial, sans-serif;
  text-align: center;
	cursor: pointer;
	position: relative;
	padding: 0.5rem 3.5rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	border: 1px solid #012880;
	 background-image: linear-gradient(-180deg, 	#000080 0%, #C01F9E 100%);/*FF89D6 */
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

/* Effects of mouse hover on options */
.option:hover {
  background-color:rgba(255, 255, 255, 0.1);
  border: 4px solid #341f97;
  color: #341f97;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
} 

/* inserting some style before content */
.option::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

/* inserting some style after content */
.option::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
} 
/* End */





      